<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
  </system.web>
  <!--<location path="AfficherFacture.aspx">
    <allow roles="client"/>
    <deny roles="*"/>
  </location>
  <location path="AfficherLaFacture.aspx">
    <allow roles="client"/>
    <deny roles="*"/>
  </location>
  <location path="CreerCompte.aspx">
    <allow roles="client"/>
    <deny roles="*"/>
  </location>
  <location path="Historique.aspx">
    <allow roles="client"/>
    <deny roles="*"/>
  </location>
  <location path="HorairePerso.aspx">
    <allow roles="client"/>
    <deny roles="*"/>
  </location>
  <location path="NousContact.aspx">
    <allow roles="client"/>
    <deny roles="*"/>
  </location>
  <location path="OublierMotPasse.aspx">
    <allow roles="client"/>
    <deny roles="*"/>
  </location>
  <location path="panier.aspx">
    <allow roles="client"/>
    <deny roles="*"/>
  </location>
  <location path="ResultatRecherche.aspx">
    <allow roles="client"/>
    <deny roles="*"/>
  </location>-->
</configuration>
