body
{
    padding: 0px;
    margin: 0px;
    background-color:#025570;
}

#global
{
    width: 1000px;
    margin-left: auto;  
    margin-right: auto; 
}
#banniere
{
    height: 150px;
    width: 700px;
    float: left;
    background-image: url('images/banniere.gif');
} 
#login
{
    height: 150px;
    width: 275px;
    padding-left: 25px;
    float: left;
    background-image: url('images/login.gif');
} 
#bandeHautGauche
{
    float: left;
    height: 30px;
    width: 480px; 
    padding-left: 20px;
    padding-top: 10px;
    clear: left;
    background-color: #0583ad;

}
#bandeHautDroite
{
    float: left;
    height: 30px;
    width: 480px; 
    padding-top: 10px;
    padding-right: 20px;
    text-align: right;
    background-color: #0583ad; 

} 
#arianne {
    height: 30px; 
    width: 650px;  
    padding-left: 350px; 
    background-repeat: repeat-x;
    clear: both;  
    text-decoration: none;
    background-image: url('images/arianne.jpg');
    
}
#contenant 
{
    width: 1000px;
    height: 900px;
    background-color:#3aafd6;
}

#menu {
    height: 350px; 
    width: 230px;   
    padding-top: 50px;
    padding-left: 20px;
    float: left; 
    background-image: url('images/menu.gif');
    
}

#contenu
{
    height: 700px;
    width: 710px;
    float: right; 
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #3aafd6; 
}
#footer
{
    position: absolute;
    text-align: center;
    width: 1000px;
    height: 100px;
    clear: both;
    padding-top: 25px;
    background-image: url('images/footer.gif');
    background-repeat: no-repeat;
}

menu leMenu MenuItem
{
    margin-left: 20px;  
}
.waterMark 
{
    color:Gray;
}
.controleValidation
{
    position: absolute;
    font-weight: bold;
    font-style: italic;
    color: #FF0000;
    font-family: 'Franklin Gothic Medium';
    font-size: x-small;
    padding-top: 2px;
}